.select2-results ul li[aria-disabled=true] {
    display: none;
}

.select2-results__option--highlighted {
    background-color: #79bcf2 !important;
}

.select2-selection {
    height: 38px !important;
    border-color: #ced4da !important;
}

.select2-selection span {
    margin-top: 4px;
}

.select2-selection__rendered, .select2-results ul li {
    /*text-transform: capitalize !important;*/
}

.span-danger {
    color: #e02929;
    font-size: 13px;
}
